<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='ico' href='favicon.icon' type='images/x-icon' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El portal donde podrá crear sus propios juegos</p>
  </body>
</html>
