body 						{background: #333 none repeat scroll 0 0; font-size: xx-large;}
#page-wrap:after			{content: "Smartphone Layout";}
footer  					{font-size: large;}
h2 span, section h3         {display: none;}
footer, input               {font-size: x-large;}
